.gutena-font-icon-picker {
	.rfip {
		margin: 0;
		width: 100% !important;
		.rfipbtn {
			width: 100%;
		}
	}
}
.gutena-render-svg {
	svg {
		height: 24px;
		width: 24px;
	}
}

.gutena-advanced-button {
	.wp-block-button__link {
		font-family: inherit !important;
		font-size: var(--gutena--advanced-button-font-size, inherit) !important;
		color: var(--gutena--advanced-button-text-color, var(--wp--preset--color--background)) !important;
		background: var(--gutena--advanced-button-background-gradient-color, var(--gutena--advanced-button-background-color, var(--wp--preset--color--primary))) !important;
		border-top: var(--gutena--advanced-button-border-top) !important;
		border-right: var(--gutena--advanced-button-border-right) !important;
		border-bottom: var(--gutena--advanced-button-border-bottom) !important;
		border-left: var(--gutena--advanced-button-border-left) !important;
		border-radius: var(--gutena--advanced-button-border-radius) !important;

		&:hover {
			color: var(--gutena--advanced-button-hover-text-color, var(--gutena--advanced-button-text-color, var(--wp--preset--color--base))) !important;
			background: var(--gutena--advanced-button-hover-background-gradient-color, var(--gutena--advanced-button-background-gradient-color, var(--gutena--advanced-button-hover-background-color, var(--gutena--advanced-button-background-color, var(--wp--preset--color--contrast))))) !important;
			border-top: var(--gutena--advanced-button-hover-border-top, var(--gutena--advanced-button-border-top)) !important;
			border-right: var(--gutena--advanced-button-hover-border-right, var(--gutena--advanced-button-border-right)) !important;
			border-bottom: var(--gutena--advanced-button-hover-border-bottom, var(--gutena--advanced-button-border-bottom)) !important;
			border-left: var(--gutena--advanced-button-hover-border-left, var(--gutena--advanced-button-border-left)) !important;
			border-radius: var(--gutena--advanced-button-hover-border-radius, var(--gutena--advanced-button-border-radius)) !important;
		}
	}

	&.is-style-outline .wp-block-button__link {
		border-top: var(--gutena--advanced-button-border-top, 2px solid) !important;
		border-right: var(--gutena--advanced-button-border-right, 2px solid) !important;
		border-bottom: var(--gutena--advanced-button-border-bottom, 2px solid) !important;
		border-left: var(--gutena--advanced-button-border-left, 2px solid) !important;
		background: var(--gutena--advanced-button-background-gradient-color, var(--gutena--advanced-button-background-color)) !important;

		&:hover {
			color: var(--gutena--advanced-button-hover-text-color, var(--gutena--advanced-button-text-color, currentColor)) !important;
			border-top: var(--gutena--advanced-button-border-top, 2px solid) !important;
			border-right: var(--gutena--advanced-button-border-right, 2px solid) !important;
			border-bottom: var(--gutena--advanced-button-border-bottom, 2px solid) !important;
			border-left: var(--gutena--advanced-button-border-left, 2px solid) !important;
			background: var(--gutena--advanced-button-hover-background-gradient-color, var(--gutena--advanced-button-background-gradient-color, var(--gutena--advanced-button-hover-background-color, var(--gutena--advanced-button-background-color)))) !important;
		}
	}
}
.gutena-advanced-button.has-icon {
	.wp-block-button__link {
		&:before {
			vertical-align: middle;
			display: inline-block;
			width: var(--gutena--advanced-button-icon-size);
			height: var(--gutena--advanced-button-icon-size);
			background-color: var(--gutena--advanced-button-icon-color);
			margin-right: var(--gutena--advanced-button-icon-gap);
		}
		&:after {
			vertical-align: middle;
			display: inline-block;
			width: var(--gutena--advanced-button-icon-size);
			height: var(--gutena--advanced-button-icon-size);
			background-color: var(--gutena--advanced-button-icon-color);
			margin-left: var(--gutena--advanced-button-icon-gap);
		}
	}
	&:hover {
		.wp-block-button__link {
			&:before {
				background-color: var(--gutena--advanced-button-hover-icon-color, var(--gutena--advanced-button-icon-color));
			}
			&:after {
				background-color: var(--gutena--advanced-button-hover-icon-color, var(--gutena--advanced-button-icon-color));
			}
		}
	}
}
